<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laba.interfaces.daos.IMedicalRecordDAO">
    <resultMap id="MedicalRecordResultMap" type="MedicalRecord" autoMapping="false">
        <result property="id" column="id"/>
        <result property="appointmentId" column="appointment_id"/>
        <result property="diagnosisId" column="diagnosis_id"/>
        <result property="treatmentId" column="treatment_id"/>
        <association property="diagnosis" column="diagnosis_id" javaType="Diagnosis"
          select="com.laba.interfaces.daos.IDiagnosisDAO.getById"/>
        <association property="treatment" column="treatment_id" javaType="Treatment"
          select="com.laba.interfaces.daos.ITreatmentDAO.getById"/>
    </resultMap>
    <insert id="save" parameterType="com.laba.models.MedicalRecord">
        INSERT INTO medical_records (id, appointment_id, diagnosis_id, treatment_id)
        VALUES (#{id}, #{appointmentId}, #{diagnosisId}, #{treatmentId})
    </insert>
    <update id="update" parameterType="com.laba.models.MedicalRecord">
        UPDATE medical_records
        SET id             = #{id},
            appointment_id = #{appointmentId},
            diagnosis_id   = #{diagnosisId},
            treatment_id   = #{treatmentId}
        WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="int">
        DELETE
        FROM medical_records
        WHERE id = #{id}
    </delete>
    <select id="getById" parameterType="int" resultMap="MedicalRecordResultMap">
        SELECT *
        FROM medical_records
        WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="MedicalRecordResultMap">
        SELECT *
        FROM medical_records
    </select>
    <select id="getMedicalRecordsByAppointmentId" parameterType="int"
      resultMap="MedicalRecordResultMap">
        SELECT *
        FROM medical_records
        WHERE appointment_id = #{appointmentId}
    </select>
    <select id="getMedicalRecordsForPatient" parameterType="com.laba.models.Person"
        resultMap="MedicalRecordResultMap">
        SELECT *
        FROM  medical_records
        JOIN appointments a on a.id = medical_records.appointment_id
        JOIN patients p on p.id = a.patient_id
         WHERE p.id = ${id}
    </select>
</mapper>