<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laba.interfaces.daos.IMedicationDAO">
    <insert id="save" parameterType="com.laba.models.Medication">
        INSERT INTO medications (id, medication_name, medication_types_id)
        VALUES (#{id}, #{medicationName}, #{medicationTypeId})
    </insert>
    <update id="update" parameterType="com.laba.models.Medication">
        UPDATE medications
        SET id                  = #{id},
            medication_name     = #{medicationName},
            medication_types_id = #{medicationTypeId}
        WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="int">
        DELETE
        FROM medications
        WHERE id = #{id}
    </delete>
    <resultMap id="MedicationResultMap" type="Medication" autoMapping="false">
        <result property="id" column="id"/>
        <result property="medicationName" column="medication_name"/>
        <result property="medicationTypeId" column="medication_types_id"/>
    </resultMap>
    <select id="getById" parameterType="int" resultMap="MedicationResultMap">
        SELECT *
        FROM medications
        WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="MedicationResultMap">
        SELECT *
        FROM medications
    </select>
</mapper>