<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laba.interfaces.daos.IMedicationDAO">
    <resultMap id="MedicationResultMap" type="Medication" autoMapping="false">
        <result property="id" column="id"/>
        <result property="medicationName" column="medication_name"/>
        <association property="medicationType" column="medication_types_id" javaType="MedicationType"
          select="com.laba.interfaces.daos.IMedicationTypeDAO.getById"/>
    </resultMap>
    <insert id="save" parameterType="com.laba.models.Medication">
        INSERT INTO medications (id, medication_name, medication_types_id)
        VALUES (#{id}, #{medicationName}, #{medicationType.id})
    </insert>
    <update id="update" parameterType="com.laba.models.Medication">
        UPDATE medications
        SET id                  = #{id},
            medication_name     = #{medicationName},
            medication_types_id = #{medicationType.id}
        WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="int">
        DELETE
        FROM medications
        WHERE id = #{id}
    </delete>
    <select id="getById" parameterType="int" resultMap="MedicationResultMap">
        SELECT *
        FROM medications
        WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="MedicationResultMap">
        SELECT *
        FROM medications
    </select>
    <select id="getMedicationsByPatientId" resultMap="MedicationResultMap">
        SELECT DISTINCT m.*
        FROM medications m
                 JOIN prescriptions p ON m.id = p.medication_id
                 JOIN treatments t ON p.treatment_id = t.id
                 JOIN medical_records mr ON t.id = mr.treatment_id
                 JOIN appointments a ON mr.appointment_id = a.id
                 JOIN patients pt ON a.patient_id = pt.id
        WHERE pt.id = #{patientId}
    </select>
</mapper>