<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laba.interfaces.daos.IPrescriptionDAO">
    <resultMap id="PrescriptionResultMap" type="Prescription" autoMapping="false">
        <result property="id" column="id"/>
        <result property="dosage" column="dosage"/>
        <result property="prescriptionStartDate" column="prescription_start_date"/>
        <result property="prescriptionExpirationDate" column="prescription_expiration_date"/>
        <association property="treatment" column="treatment_id" javaType="Treatment"
            select="com.laba.interfaces.daos.ITreatmentDAO.getById"/>
        <association property="medication" column="medication_id" javaType="Medication"
          select="com.laba.interfaces.daos.IMedicationDAO.getById"/>
    </resultMap>
    <insert id="save" parameterType="com.laba.models.Prescription">
        INSERT INTO prescriptions (id, treatment_id, medication_id, dosage, prescription_start_date,
                                   prescription_expiration_date)
        VALUES (#{id}, #{treatment.id}, #{medication.id}, #{dosage}, #{prescriptionStartDate},
                #{prescriptionExpirationDate})
    </insert>
    <update id="update" parameterType="com.laba.models.Prescription">
        UPDATE prescriptions
        SET id                           = #{id},
            treatment_id                 = #{treatment.id},
            medication_id                = #{medication.id},
            dosage                       = #{dosage},
            prescription_start_date      = #{prescriptionStartDate},
            prescription_expiration_date = #{prescriptionExpirationDate}
        WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="int">
        DELETE
        FROM prescriptions
        WHERE id = #{id}
    </delete>
    <select id="getById" parameterType="int" resultMap="PrescriptionResultMap">
        SELECT *
        FROM prescriptions
        WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="PrescriptionResultMap">
        SELECT *
        FROM prescriptions
    </select>
    <select id="getPrescriptionsByPatientId" resultMap="PrescriptionResultMap">
        SELECT *
        FROM prescriptions
                 JOIN medical_records mr on prescriptions.treatment_id = mr.treatment_id
                 JOIN appointments a on a.id = mr.appointment_id
                 JOIN patients p on p.id = a.patient_id
        WHERE p.id = #{patientId};
    </select>
</mapper>