<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laba.interfaces.daos.IPersonDAO">
    <insert id="save" parameterType="com.laba.models.Person">
        INSERT INTO persons (id, first_name, last_name, dob)
        VALUES (#{id}, #{firstName}, #{lastName}, #{dob})
    </insert>
    <update id="update" parameterType="com.laba.models.Person">
        UPDATE persons
        SET id         = #{id},
            first_name = #{firstName},
            last_name  = #{lastName},
            dob        = #{dob}
        WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="int">
        DELETE
        FROM persons
        WHERE id = #{id}
    </delete>
    <resultMap id="PersonResultMap" type="Person" autoMapping="false">
        <result property="id" column="id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="dob" column="dob"/>
    </resultMap>
    <select id="getById" parameterType="int" resultMap="PersonResultMap">
        SELECT *
        FROM persons
        WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="PersonResultMap">
        SELECT *
        FROM persons
    </select>
</mapper>