<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laba.interfaces.daos.IStaffDAO">
    <insert id="save" parameterType="com.laba.models.Staff">
        INSERT INTO staff (id, person_id)
        VALUES (#{id}, #{person_id})
    </insert>
    <update id="update" parameterType="com.laba.models.Staff">
        UPDATE staff
        SET id        = #{id},
            person_id = #{person_id}
        WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="int">
        DELETE
        FROM staff
        WHERE id = #{id}
    </delete>
    <resultMap id="StaffResultMap" type="Staff" autoMapping="false">
        <result property="id" column="id"/>
        <result property="person_id" column="person_id"/>
    </resultMap>
    <select id="getById" parameterType="int" resultMap="StaffResultMap">
        SELECT *
        FROM staff
        WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="StaffResultMap">
        SELECT *
        FROM staff
    </select>
</mapper>